.receiptFrom__container{
   margin-top:10px;
    width: 500px;
    height: 350px;
    padding: 5px 15px;
    background: rgb(225, 222, 222);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgb(233, 231, 231);
}
.receiptFrom__content{
    display: flex;
    flex-direction: column;
    
}
.receiptFrom__heading{
   
    border-bottom: 2px solid gray;
   
    width: fit-content;
}
.receiptFrom__td{
    padding-top: 8px;
    margin-right:10px;
}
.receipt_input{
    padding: 5px;
    width:200px;
    background-color: rgba(230, 233, 235, 0.431);
    border:2px solid rgb(163, 152, 152);
    border-radius: 5px;
}
.input_custom{
    width: 350px;
}
.receiptForm__button{
  align-self: flex-end;
}
.receiptform__btn{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    width: 100px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;

}
.cancel-btn{
    border: 2px solid rgba(255, 0, 0, 0.715);
    color:rgba(255, 0, 0, 0.715);
}
.submit-btn{
    box-shadow: 0px 0px 3px 3px rgb(249, 250, 248);
   border: none;
   background-color: green;
}